<div class="banner" style="background-image: url('<%= image_path('portfolio-banner.jpg') %>');">
  <div class="container">
    <h1>Arstanbek Zholochu</h1>
    <p>Full Stack Web Developer</p>
  </div>
</div>
<div class="container homepage">
    <div class="header">
      <h2><strong>Recent Projects</strong></h2>
    </div>

    <div class="container recent-projects">

      <div class="individual-project">

        <div class="project-header">
          <p>PairWise <br> Web application for running scrabble tournaments </p>
        </div>

        <div class="project-image">
        </div>

      </div>
    </div>
</div>
