<div class="banner" style="background-image: url('<%= image_path('portfolio-banner.jpg') %>');">
  <div class="container">
    <h1>Arstanbek Zholochu</h1>
    <p>Full Stack Web Developer</p>
    <br>
    <p><i class="fa-regular fa-envelope"></i> arstanbek.zholochu@gmail.com</p>
    <a href="https://www.linkedin.com/in/arstanbek-zholochu/" target="_blank" rel="noopener noreferrer">
      <p><i class="fa-brands fa-linkedin-in"></i> LinkedIn profile</p>
    </a>
    <a href="https://github.com/zholochu" target="_blank" rel="noopener noreferrer">
      <p><i class="fa-brands fa-github"></i> Github profile</p>
    </a>

  </div>
</div>


<div class="container homepage">
    <div class="header">
      <h2><strong>Recent Projects</strong></h2>
    </div>

    <div class="container recent-projects">

      <div class="individual-project">

        <a href="https://www.pair-wise.ca" target="_blank" rel="noopener noreferrer">
          <div class="card-project">
            <img src='<%= image_path('pairwise.png') %>'/>
            <div class="card-project-infos">
              <h2>PairWise</h2>
              <p>Web application for running scrabble tournaments.</p>
              <p><em>Ruby on Rails, JavaScript, HTML, CSS, Bootstrap, Heroku</em></p>
            </div>
          </div>
        </a>

        <a href="https://airbne.herokuapp.com" target="_blank" rel="noopener noreferrer">
          <div class="card-project">
            <img src='<%= image_path('airbne.png') %>'/>
            <div class="card-project-infos">
              <h2>Airbne</h2>
              <p>Bootcamp intermediate project on clone Airbnb concept.</p>
              <p><em>Ruby on Rails, JavaScript, HTML, CSS, Bootstrap, Heroku</em></p>
            </div>
          </div>
        </a>

        <a href="https://www.arstanbekzholochu.ca" target="_blank" rel="noopener noreferrer">
          <div class="card-project">
            <img src='<%= image_path('Arstanbek Zholochu Portfolio.png') %>'/>
            <div class="card-project-infos">
              <h2>Personal Portfolio</h2>
              <p>Personal website to showcase my past and ongoing projects.</p>
              <p><em>Ruby on Rails, HTML, CSS, Bootstrap, Heroku</em></p>
            </div>
          </div>
        </a>

      </div>
    </div>
</div>

<div class="container about-me">
  <div>
    <h2><strong>About me</strong></h2>
  </div>
  <p></p>
</div>
