<div class="banner" style="background-image: url('<%= image_path('portfolio-banner.jpg') %>');">
  <div class="container">
    <h1>Arstanbek Zholochu</h1>
    <p>Full Stack Web Developer</p>
  </div>
</div>
<div class="container">
  <h2>PairWise - Web application for running scrabble tournaments </h2>
  <p>Find me in</p>
</div>
