.homepage {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.homepage h2 {
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 500;
}

.header {
  text-align: center;
}

.recent-projects {
  display: flex;
  flex-wrap: wrap;
}

.individual-project {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
  gap: 30px;

}

.project-header {
  text-align: center;
}

.card-project {
  overflow: auto;
  height: 190px;
  max-width: 550px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-project:hover {
  box-shadow: 5px 10px 8px #888888;
}

.card-project img {
  height: 100%;
  width: 200px;
  object-fit: cover;
}

.card-project h2 {
  font-size: 16px;
  font-weight: bold;
}

.card-project p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 4px;
}

.card-project {
  padding: 10px;
}

.card-project-infos {
  max-height: 190px;
  max-width: 330px;
  padding: 10px;
  overflow: auto;
  .card-project-infos h2 {
    font-size: 4vw;
  }
}

a, u {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.copyright {
  text-align: center;
}
