.homepage {
  display: flex;
  flex-direction: column;
}

.homepage h2 {
  padding-top: 10px;
  font-weight: 400;
}

.header {
  text-align: center;
}

.recent-projects {
  display: flex;
  flex-wrap: wrap;
}

.individual-project {
  display: flex;
  flex-direction: column;

}

.project-header {
  text-align: center;
}

.project-image {
  border: solid red;
  min-width: 250px;
}

.project-image::before {
  content:url('pairwise.png');
  max-width: 100%;
  max-height: 100%;
}
